<app-admin-nav></app-admin-nav>
<div></div>

    <div class="container" id="container">
      <div class="row">
        <div class="col-12">
          <table class="table table-image">
            <thead>
              <!-- <tr> -->
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <!-- <th scope="col">Email</th> -->
                <th scope="col">Feedback</th>
                <th scope="col">Date</th>
                <th scope="col">Delete</th>
              <!-- </tr> -->
            </thead>
            <tbody>
              <tr *ngFor="let item of feedbacks;index as i">
                <td scope="row">{{i+1}}</td>
                <td class="name">{{item.name}}</td>
                <!-- <td style="min-width: 200px;" class="email">{{item.useremail}}</td> -->
                <td style="min-width: 200px;">
                  {{item.feedback}}
                </td>
                <td>
                  {{item.date}}
                </td>
                <td>
                  <i id="delete" class="fa fa-trash" aria-hidden="true" (click)="onDelete(item._id)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
 

